<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.position}}</td>
        <td>₹{{this.salary}}</td>
    </tr>


    {{/each}}
</table>